#primera {
  color: deep blue sky;  
  padding-bottom: 40px;
}

h1 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  font-size: 40px;
}

title {
  color: grey;
}

body {
  background-color: grey;
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
}

#segunda {
  padding-left: 140px;
  padding-top: 50px;
}

#barra {
  position: relative;
  left: 70%;
}

table {
  color: white;
  background-color: grey;
  
}

tr {
  height: 70px;
}

td {
  text-align: center;
  vertical-align: middle;
}

th {
  width: 240px;
}

table, th, td { 
  border: 1px solid white;
  border-collapse: collapse;
}

