{% extends "layout.html" %}

{% block body %}

<div id = "primera"> 

<h1> ETF TABLE </h1> 

<p> This table updates itself every 12 hours, it contains the top 25 ETFs that appear on yahoo! finance. </p>
 
</div>

<input type= "text" onkeyup= "busqueda()" id= "barra" placeholder= "Search">


<div id = "segunda">

<table id= "tabla" >
<tr id = "cabecera">

<th> Company Symbol </th>
<th> Name of the company </th>
<th> Number of apparitions </th>
<th> Link to price graphic </th>

</tr>

<tr id = "valores"> 

{% for i in range(0, LARGO) %}

<td> {{ lista_siglas[i] }} </td>

<td> {{ lista_nombres[i] }} </td>

<td> {{ lista_apariciones[i] }} </td>

<td> <a href = "{{ lista_links[i] }}"> {{ lista_links[i] }} </a> </td>

</tr>

{% endfor %}

</table>

</div>
	
{% endblock %}